body
{
    margin: 0%;
    background-color: #000000;
    width: 100%;

}

#top
{
    background-color: #7fa4db;
    width: 100%;
    font-size: 40px;
    padding-top: 1%;
    padding-bottom: 1%;
    
}

#logowanie
{
    float: right;
    margin-right: 3%;
    border-radius: 10%;
    background-color: #3b7bdb;
    
}
#registry
{
    float: right;
    margin-right: 2%;
    border-radius: 10%;
    background-color: #3b7bdb;
    
}

#tresc
{
    background-color: aliceblue;
    height: 80%;
}

#menu
{
    float: left;
    width: 10%;
    background-color: red;
}